.App {
  background-color: black;
  color: white;
}

/* ------------------ Education Card ------------------ */
.edu-card {
  width: 580px;
  height: 300px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.edu-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* ------------------ Projects Hover ------------------ */
.projects:hover {
  transform: translateX(10px);
  transition: 0.4s ease;
}

/* ------------------ Sidebar ------------------ */
.sidebar {
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 55px;
  background: rgba(40, 40, 40, 0.85);
  padding: 15px 10px;
  border-radius: 40px;
  transition: width 0.4s ease;
  overflow: hidden;
  z-index: 999;
}

.sidebar.open {
  width: 130px;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  margin-bottom: 5px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}

.sidebar ul li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.icon {
  font-size: 21px;
  margin-right: 15px;
}

.text {
  opacity: 0;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.3s ease-in-out;
}

.sidebar.open .text {
  opacity: 1;
}

/* ------------------ Mobile Responsive ------------------ */
@media (max-width: 768px) {
  .sidebar {
    left: 0;
    top: 0;
    transform: translateY(0);
    width: 60px;
    height: 100vh;
    border-radius: 20px;
    padding-top: 70px;
    height: 400px;
    margin-top: 200px;
    
  }

  .sidebar.open {
    width: 190px;
  }

  .toggle-btn {
    position: absolute;
    top: 20px;
    left: 15px;
    background: white;
    color: black;
    border: none;
    
    font-size: 24px;
    border-radius: 6px;
    z-index: 3000;
  }
}
